.bg-brand{ background-color: var(--color-principal) !important; }
.navbar{ box-shadow: var(--shadow-soft); }

.btn-custom{
  background-color: var(--color-principal); color:#fff !important;
  border:none; border-radius: var(--radius-pill);
  padding:.75rem 1.25rem; font-weight:700; box-shadow: var(--shadow-soft);
  transition: transform .06s ease, opacity .2s ease, background-color .2s ease;
}
.btn-custom:hover{ background-color:#e63e00; transform: translateY(-1px); }
.btn-custom:active{ background-color:#cc3700; transform: translateY(0); }

.bg-cream{ background: var(--color-fondo) !important; }