.splash-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  height: 100vh;          /* Ocupa toda la altura de la pantalla */
  width: 100%;
  background-color: var(--color-fondo); /* Usa el color de fondo de tu marca */
}