flask
python-dotenv       # variables de entorno
flask-restful       #Resources y definir endpoints
flask_sqlalchemy    #definir modelos
flask_migrate       #migraciones de la base de datos
flask_jwt_extended  #manejar tokens
flask-mail          #enviar correos
flask-cors          #front hable con el back