.card-mejor-calificado {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.card-mejor-calificado .card-img-top {
  max-height: 300px;
  object-fit: cover;  
}

.card-mejor-calificado .estrella {
  color: #FFC107; 
}


.categoria-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  height: 100%; 
}

.categoria-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.categoria-card .card-img-top {
  height: 170px; 
  object-fit: cover;
}