<div class="product-list">
  <div [ngClass]="listStyle === 'card' ? 'row justify-content-center' : ''">
    <div *ngFor="let product of products" [ngClass]="listStyle === 'card' ? 'col-12 col-sm-6 col-lg-4' : 'col-12'">

      <div *ngIf="listStyle === 'card'" class="card product-card-item">
        <img [src]="getProductImage(product.nombre)" [alt]="product.nombre" class="product-img">
        <h5>{{ product.nombre }}</h5>
        <p class="price">${{ product.precio }}</p>
        
        <button *ngIf="userRole === 'admin'" class="btn btn-outline-primary btn-sm" (click)="onProductClick(product)">
          Ver Producto
        </button>
        <a *ngIf="userRole === 'cliente'" routerLink="/cliente/carrito" class="add-button">
          <button class="btn-naranja rounded-circle p-0">+</button>
        </a>
      </div>

      <div *ngIf="listStyle === 'row'" class="product-row-item">
        <img [src]="getProductImage(product.nombre)" [alt]="product.nombre" />
        <div class="info-container">
          <h6>{{ product.nombre }}</h6>
          <p class="price">${{ product.precio }}</p>
        </div>
        <a *ngIf="userRole === 'cliente'" (click)="addToCart(product)" class="add-button" style="cursor: pointer;">
          <button class="btn-naranja rounded-circle p-0">+</button>
        </a>
        <span *ngIf="userRole === 'admin'" class="stock">#{{ product.id_prod }}</span>
        <button *ngIf="userRole === 'admin'" class="btn btn-sm btn-outline-secondary" (click)="onProductClick(product)">
          Editar
        </button>
      </div>

    </div>
  </div>
</div>