.btn-orange {
    background-color: #ff5722; 
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
  }
  
  .btn-orange:hover {
    background-color: #e64a19; 
    color: #fff;
  }