.btn-orange {
    background-color: #ff5722; /* Color naranja de Figma */
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
  }
  
  .btn-orange:hover {
    background-color: #e64a19; /* Tono más oscuro al pasar el cursor */
    color: #fff;
  }