<div class="bottom-nav">
  <a routerLink="/cliente/menu" routerLinkActive="active">
    <i class="bi bi-house-door-fill"></i><br>Inicio
  </a>
  <a routerLink="/cliente/todos" routerLinkActive="active">
    <i class="bi bi-star-fill"></i><br>Productos
  </a>
  <a routerLink="/cliente/carrito" routerLinkActive="active" class="cart-btn">
    <i class="bi bi-cart-fill"></i>
  </a>
  <a routerLink="/cliente/notificaciones" routerLinkActive="active">
    <i class="bi bi-bell-fill"></i><br>Notif.
  </a>
  <a routerLink="/cliente/perfil" routerLinkActive="active">
    <i class="bi bi-person-fill"></i><br>Perfil
  </a>
</div>
