/* Puedes agregar aquí los estilos para las clases .btn-custom y .btn-logout */
.btn-custom {
    background-color: transparent;
    color: var(--color-texto); /* Color del texto */
    border: 1px solid var(--color-borde-boton);
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .btn-logout {
    background-color: var(--color-brand); /* Color naranja */
    color: #fff;
    border: none;
    width: 100%;
  }